# ==========================================
# Docker Configuration
# ==========================================
# User ID and Group ID mapping for file permissions on Linux
# Run `id -u` and `id -g` to find your values.
HOST_UID=1000
HOST_GID=1000

# Security configuration for gh cli
PARANOID_MODE=true

# Authentication
GITHUB_TOKEN=ghp_exampleexampleexample

# Git identity
GIT_NAME=user-name-goes-here
GIT_EMAIL=1234567890+user-name-goes-here@users.noreply.github.com

# Commit Signings
GIT_GPG_KEY=DEADBEEF
GIT_GPG_SIGN=false

SSH_MITM_DEST_HOST=github.com

# Persist config in Ollama-UI
ENABLE_PERSISTENT_CONFIG=False

OLLAMA_PUBLIC_PORT=